/* Contact Form
===================================== */
.contact-form {
    .form-control {
        border-width: 2px;
        border-color: $contact_border_color;
    }
}

.fbt-contact-info-box {
    margin-bottom: 30px;
}