/* Magazine Slider 2
===================================== */
.slider-2 {
    .post-item {
        &.large-thumb {
            .fbt-post-thumbnail {
                height: $slider_2_thumb_height;
                @media (max-width: 991.98px) {
                    height: $slider_2_thumb_height / 2;
                }
            }
        }
    }

    .fbt-post-caption .title-caption {
        position: absolute;
        bottom: 0;
        width: 100%;
        pointer-events: auto;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
        .post-title a {
            text-decoration: none;
        }
    }

}