<div class="widget fbt-sticky-content sticky-top fbt-ad-block">
    <div class="fbt_ad text-center">
                                    <span class="fbt-ad-title">
                                        Advertisement <span class="ad_block"></span>
                                    </span>
        <div class="widget-content">
            <a href="#">
                <img alt="Advertisement" class="lazyloaded img-fluid" data-src="./images/ad-300x600.jpg"
                     src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
            </a>
        </div>
    </div>
</div>