{% extends "nemesis/base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block page_wrapper_class %} magazine-view {% endblock %}

{% block content %}
    <div class="outer-wrapper clearfix" id="outer-wrapper">

        <div class="container fbt-elastic-container">
            <div class="row justify-content-center">

                <!-- Main Wrapper -->
                <div class="fbt-main-wrapper col-xl-12">

                    <div id="main-wrapper">
                        <div class="main-section" id="main_content">

                            <div class="blog-posts fbt-item-post-wrap">
                                <div class="blog-post fbt-item-post">

                                    <div class="slider-container">
                                        <div class="row align-items-center slider-width">
                                            <div class="col-lg-7">
                                                <div class="fbt-shape-container">
                                                    <div class="fbt-item-thumbnail radius-10">
                                                        <img alt="" class="post-thumbnail lazyloaded"
                                                             data-src="{% image page.image max-746x480 %}"
                                                             src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-5 mt-4 mt-lg-0">
                                                <div class="fbt-shape-title pl-xl-5 pl-lg-4">
                                                    <h1 class="post-title display-4">
                                                        {{ page.title}}
                                                    </h1>
                                                    <div class="item-post-meta mt-4">
                                                        <div class="post-meta">
                                                            <span class="post-author"><a href="#" target="_blank" title="{{ page.owner }}">{{ page.owner }}</a></span>
                                                            <span class="post-date published">{{ page.date }}</span>
                                                        </div>
                                                    </div>
                                                    <div class="mt-4">
                                                        <div class="sharepost clearfix">
                                                            <div class="post-share clearfix">
                                                                <ul>
                                                                    <li><a class="facebook fbt-share" href="#" rel="nofollow" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                                    <li><a class="twitter fbt-share" href="#" rel="nofollow" target="_blank"><i class="fa fa-twitter"></i></a> </li>
                                                                    <li><a class="linkedin fbt-linkedin" href="#" rel="nofollow" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                                                    <li><a class="pinterest fbt-pinterest" href="#" target="_blank"><i class="fa fa-pinterest-p"></i></a></li>
                                                                    <li><a class="email fbt-email" href="#" rel="nofollow"><i class="fa fa-envelope-o"></i></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- .slider-container end-->

                                    <div class="row justify-content-center">
                                        <div class="col-xl-8 col-lg-9">
                                            <div class="mt-n5">
                                                <div class="post-body post-content">

                                                    {{ page.intro}}
                                                    Nunc id purus vel sapien pretium varius eu id risus.
                                                    Vivamus sit amet nibh sit amet eros porta iaculis. Ut
                                                    interdum diam nec imperdiet elementum. Proin condimentum
                                                    faucibus placerat. Donec massa justo, porttitor
                                                    tincidunt eros a, vehicula malesuada tortor. Praesent
                                                    nec sem ut justo efficitur tempus. <br>
                                                    <mark>Donec bibendum urna quis orci molestie sodales.
                                                        Pellentesque habitant morbi tristique senectus et
                                                        netus et malesuada fames ac turpis egestas. Nunc id
                                                        purus vel sapien pretium varius eu id risus. Vivamus
                                                        sit amet nibh sit amet eros porta iaculis. Ut
                                                        interdum diam nec imperdiet elementum.</mark> Proin
                                                    condimentum faucibus placerat. Donec massa justo,
                                                    porttitor tincidunt eros a, vehicula malesuada tortor.

                                                    Vestibulum maximus
                                                    ipsum lacus, tempus suscipit augue fermentum ut.
                                                    Suspendisse posuere mi lacus, vitae fringilla leo
                                                    gravida eu.<br>
                                                    Donec bibendum urna quis orci molestie sodales.
                                                    Pellentesque habitant morbi tristique senectus et netus
                                                    et malesuada fames ac turpis egestas. Nunc id purus vel
                                                    sapien pretium varius eu id risus. Vivamus sit amet nibh
                                                    sit amet eros porta iaculis. Ut interdum diam nec
                                                    imperdiet elementum. Proin condimentum faucibus
                                                    placerat. Donec massa justo, porttitor tincidunt eros a,
                                                    vehicula malesuada tortor. Praesent nec sem ut justo
                                                    efficitur tempus.<br>
                                                    <blockquote class="tr_bq fbt-shape-container">
                                                        <div class="card shadow-lg radius-10 px-5 pt-5 pb-4">
                                                            <p class="pl-5">
                                                                Donec dolor elit, pellentesque a massa
                                                                pellentesque, euismod sagittis ipsum. Nullam
                                                                a diam ac turpis iaculis vulputate. Nunc
                                                                tellus libero, tempus id luctus eget,
                                                                fermentum et quam. Aliquam erat volutpat.
                                                                Donec sit amet nunc vitae justo dapibus
                                                                dignissim. Vivamus sagittis dignissim massa,
                                                                auctor aliquam nibh aliquam ut.
                                                            </p>
                                                        </div>
                                                    </blockquote>
                                                    Nunc accumsan ex ligula, in malesuada sapien consectetur
                                                    in. Praesent non lectus sed dolor imperdiet mollis a sit
                                                    amet sem. Vivamus eu commodo ligula. Phasellus in lacus
                                                    eu urna ullamcorper lacinia. Duis tincidunt fringilla
                                                    aliquet. Vivamus id luctus tellus. Vestibulum maximus
                                                    ipsum lacus, tempus suscipit augue fermentum ut.
                                                    Suspendisse posuere mi lacus, vitae fringilla leo
                                                    gravida eu.

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-footer">
                                        <div class="row justify-content-center">
                                            <div class="col-xl-8 col-lg-9">
                                                <div class="row align-items-center my-4">
                                                    <div class="col-lg-8 text-center text-lg-left mb-3 mb-lg-0">
                                                        <div class="post-labels">
                                                            {% with tags=page.tags.all %}
                                                            {% if tags %}
                                                            <span class="mr-2">Categories:</span>

                                                                <span class="label-head Label">
                                                                    {% for tag in tags %}

                                                                    <a class="label-link badge badge-secondary py-1 px-3" href="#">{{ tag }}</a>


                                                                    {% endfor %}

                                                                </span>

                                                            {% endif %}
                                                            {% endwith %}

                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 text-center text-lg-right">
                                                        <div class="sharepost clearfix">
                                                            <div class="post-share clearfix">
                                                                <ul>
                                                                    <li><a class="facebook fbt-share" href="#" rel="nofollow" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                                    <li><a class="twitter fbt-share" href="#" rel="nofollow" target="_blank"><i class="fa fa-twitter"></i></a> </li>
                                                                    <li><a class="linkedin fbt-linkedin" href="#" rel="nofollow" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                                                    <li><a class="pinterest fbt-pinterest" href="#" target="_blank"><i class="fa fa-pinterest-p"></i></a></li>
                                                                    <li><a class="email fbt-email" href="#" rel="nofollow"><i class="fa fa-envelope-o"></i></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="fbt-item-post-pager">
                                            <div class="card shadow-lg radius-10 mt-3 mb-5">
                                                <div class="post-pager row">
                                                    <div
                                                            class="previous col-lg-6 bg-primary px-5 py-5 text-left">
                                                        <a class="fbt-newer-link text-white" href="./single.html">
                                                            <strong class="lead text-left pl-3"><i class="fa fa-angle-left"></i> Previous</strong>
                                                            <div class="h2 text-white fbt-np-title mt-2 pl-3">
                                                                Morbi lobortis ultricies urna, neque
                                                                aliquam sit amet.
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="next col-lg-6 bg-warning px-5 py-5 text-right">
                                                        <a class="fbt-older-link text-white" href="./single.html">
                                                            <strong class="lead text-right pr-3">Next <i class="fa fa-angle-right"></i></strong>
                                                            <div class="h2 text-white text-right fbt-np-title mt-2 pr-3">
                                                                Etenim semper illud extra est, quod arte
                                                                comprehenditur.
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="fbt-rel-post-wrapper mb-5">
                                            <div class="row justify-content-center align-items-center">
                                                <div class="col-xl-3 mb-4 mb-xl-0">
                                                    <div class="title-wrap fbt-shape-title">
                                                        <h3 class="display-4">You may like these posts</h3>
                                                    </div>
                                                </div>
                                                <div class="col-xl-9 pl-xl-5">
                                                    <div id="related-posts">
                                                        <div class="row">

                                                            <div class="col-lg-4 col-md-12 mb-5 mb-lg-0 rp-item">
                                                                <div class="card radius-10">
                                                                    <div class="fbt-post-thumbnail">
                                                                        <a href="./single.html">
                                                                            <div class="fbt-resize lazyloaded" data-src="./images/img-4.jpg"
                                                                                 style="background-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==)">
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                    <div class="fbt-post-caption card-body">
                                                                        <h5>
                                                                            <a href="./single.html">
                                                                                The future of news blogger themes.
                                                                            </a>
                                                                        </h5>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-lg-4 col-md-12 mb-5 mb-lg-0 rp-item">
                                                                <div class="card radius-10">
                                                                    <div class="fbt-post-thumbnail">
                                                                        <a href="./single.html">
                                                                            <div class="fbt-resize lazyloaded" data-src="./images/img-3.jpg"
                                                                                 style="background-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==)">
                                                                            </div>
                                                                            <span class="video-icon"><i class="fa fa-play"></i></span>
                                                                        </a>
                                                                    </div>
                                                                    <div class="fbt-post-caption card-body">
                                                                        <h5>
                                                                            <a href="./single.html">
                                                                                Duis tempor purus rutrum, tincidunt
                                                                                lacus.
                                                                            </a>
                                                                        </h5>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-lg-4 col-md-12 mb-5 mb-lg-0 rp-item">
                                                                <div class="card radius-10">
                                                                    <div class="fbt-post-thumbnail">
                                                                        <a href="./single.html">
                                                                            <div class="fbt-resize lazyloaded" data-src="./images/img-11.jpg"
                                                                                 style="background-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==)">
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                    <div class="fbt-post-caption card-body">
                                                                        <h5>
                                                                            <a href="./single.html">
                                                                                Vestibulum maximus ipsum lacus, tempus ...
                                                                            </a>
                                                                        </h5>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div><!-- #related-posts -->

                                                </div>
                                            </div>
                                        </div><!-- .fbt-rel-post-wrapper -->

                                    </div>
                                </div>

                                <div class="row justify-content-center">
                                    <div class="col-xl-8 col-lg-9">
                                        <div class="blog-post-comments">
                                            <section class="comments embed" id="comments">
                                                <div class="fbt-comment-button--section list-inline text-center">
                                                    <div class="fbt-comment-button list-inline-item">
                                                        <h3 class="h4 title fbt-comment-title">5 Comments</h3>
                                                        <span class="fa comment_toogle_button"></span>
                                                    </div>
                                                </div>

                                                <div class="comment-list--form">
                                                    <div class="comment-list">
                                                        <div class="media comment mb-4 border">
                                                            <a class="mr-4" href="#">
                                                                <img src="./images/user-1.jpg" alt="">
                                                            </a>
                                                            <div class="media-body">
                                                                <h5 class="mb-2">John Doe</h5>
                                                                <p>
                                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut porttitor leo vel nulla posuere accumsan.
                                                                    Suspendisse sed tortor eget justo aliquam euismod.
                                                                </p>
                                                                <div class="comments__actions">
                                                                        <span class="button">
                                                                            <a href="#">
                                                                                <i class="fa fa-comments"></i>Reply
                                                                            </a>
                                                                        </span>
                                                                </div>

                                                                <div class="comment-reply media mt-4">
                                                                    <a class="mr-4" href="#">
                                                                        <img src="./images/user-2.jpg" alt="">
                                                                    </a>
                                                                    <div class="media-body">
                                                                        <h5 class="mb-2">John Doe</h5>
                                                                        <p>
                                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut porttitor leo vel nulla posuere accumsan.
                                                                        </p>
                                                                        <div class="comments__actions">
                                                                                <span class="button">
                                                                                    <a href="#">
                                                                                    <i class="fa fa-comments"></i>Reply
                                                                                    </a>
                                                                                </span>
                                                                        </div>
                                                                    </div>
                                                                </div><!-- .comment-reply -->

                                                            </div>
                                                        </div><!-- .comment -->

                                                        <div class="media comment mb-4">
                                                            <a class="mr-4" href="#">
                                                                <img src="./images/user-4.jpg" alt="">
                                                            </a>
                                                            <div class="media-body">
                                                                <h5 class="mb-2">John Doe</h5>
                                                                <p>
                                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut porttitor leo vel nulla posuere accumsan.
                                                                    Suspendisse sed tortor eget justo aliquam euismod.
                                                                </p>
                                                                <div class="comments__actions">
                                                                        <span class="button">
                                                                            <a href="#">
                                                                                <i class="fa fa-comments"></i>Reply
                                                                            </a>
                                                                        </span>
                                                                </div>
                                                            </div>
                                                        </div><!-- .comment -->

                                                        <div class="media comment mb-4">
                                                            <a class="mr-4" href="#">
                                                                <img src="./images/user-3.jpg" alt="">
                                                            </a>
                                                            <div class="media-body">
                                                                <h5 class="mt-0">John Doe</h5>
                                                                <p>
                                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut porttitor leo vel nulla posuere accumsan.
                                                                    Suspendisse sed tortor eget justo aliquam euismod.
                                                                </p>
                                                                <div class="comments__actions">
                                                                        <span class="button">
                                                                            <a href="#">
                                                                                <i class="fa fa-comments"></i>Reply
                                                                            </a>
                                                                        </span>
                                                                </div>

                                                                <div class="comment-reply media mt-4">
                                                                    <a class="mr-4" href="#">
                                                                        <img src="./images/user-4.jpg" alt="">
                                                                    </a>
                                                                    <div class="media-body">
                                                                        <h5 class="mt-0">John Doe</h5>
                                                                        <p>
                                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut porttitor leo vel nulla posuere accumsan.
                                                                        <div class="comments__actions">
                                                                                <span class="button">
                                                                                    <a href="#">
                                                                                        <i class="fa fa-comments"></i>Reply
                                                                                    </a>
                                                                                </span>
                                                                        </div>
                                                                    </div>
                                                                </div><!-- .comment-reply -->

                                                            </div>
                                                        </div><!-- .comment -->

                                                        <div class="nav pt-4 mt-n5 mb-5 justify-content-end fbt_bottom_toogle">
                                                            <span>Hide Comments</span>
                                                        </div>

                                                        <div class="fbt-sep-title">
                                                            <h4 class="title title-heading-left">Leave Your Comment</h4>
                                                            <div class="title-sep-container">
                                                                <div class="title-sep sep-double"></div>
                                                            </div>
                                                        </div>

                                                    </div><!-- .comment-list -->

                                                    <form class="comment-form" method="POST" action="index.html">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label for="name">Name*</label>
                                                                    <input class="form-control shadow-none radius-0" id="name" name="name" type="text">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label for="mail">E-mail*</label>
                                                                    <input class="form-control shadow-none radius-0" id="mail" name="mail" type="text">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label for="website">Website</label>
                                                                    <input class="form-control shadow-none radius-0" id="website" name="website" type="text">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label for="comment">Comment*</label>
                                                                    <textarea class="form-control shadow-none radius-0" rows="5" id="comment" name="comment"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <button class="btn btn-primary radius-0" type="submit" id="submit-contact">
                                                            <i class="fa fa-comment"></i> Post Comment
                                                        </button>
                                                    </form>

                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- #main-wrapper -->

                </div><!-- .fbt-main-wrapper -->

            </div>
        </div>

    </div><!-- .outer-wrapper -->
{% endblock %}