{% extends "nemesis/base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    {% comment %}
    <h1 class="text-3xl font-bold mb-8">{{ page.title }}</h1>
    <div class="mb-8">{{ page.intro|richtext }}</div>

    {% if user.is_authenticated %}
        <div class="mb-8">
            <a href="{% url 'create_blog_post' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Create New Post</a>
        </div>
    {% endif %}

    {%  endcomment %}


            <div class="blog-posts fbt-index-post-wrap card-columns">


                {% for post in page.get_children %}

                    <div class="blog-post fbt-index-post card radius-10">
                        <div class="fbt-post-thumbnail">
                            <a href="{% url 'blog_post' post.slug %}">
                                {% if post.image %}
                                <img alt="" class="post-thumbnail lazyloaded" data-src="{% image post.image fill-640x427 %}"
                                     src="{% image post.image fill-640x427 %}">
                                {% endif %}
                            </a>
                        </div>
                        <div class="fbt-post-caption card-body">
                            <h3 class="post-title h4 card-title">
                                <a href="{% url 'blog_post' post.slug %}">
                                    {{ post.title }}
                                </a>
                            </h3>
                            <div class="post-meta">
                                <span class="post-author"><a href="#">{{ post.owner }}</a></span>
                                <span class="post-date published">June 19, 2019</span>
                            </div>
                            <p class="post-excerpt card-text">
                                {{ post.specific.body|richtext|truncatewords_html:45 }}
                            </p>
                        </div>
                    </div>

                {% endfor %}


                {{ block.super }}

            </div>

            <div class="blog-pager" id="blog-pager">
                <div class="list-inline">
                    <a class="blog-pager-older-link list-inline-item" href="#" title="More posts">
                        <div class="fbt-bp-message text-uppercase font-weight-bold">More posts</div>
                        <span aria-hidden="true" class="fa fa-angle-down"></span>
                    </a>
                </div>
            </div><!-- #blog-pager -->


{% endblock %}