{% load reply_levels wagtailcore_tags %}


{% for comment in comments %}

    <div class="{{ comment_class }}">
        <a class="mr-4" href="#">
            <img src="./images/user-1.jpg" alt="">
        </a>
        <div class="media-body">
            <h5 class="mb-2">{{ comment.author.username}}</h5>
            <p>{{ comment.content }}</p>
            <p class="text-sm text-gray-500">{{ lvl }} | {{ comment.created_date|date:"F d, Y H:i" }}</p>
            {% if user.is_authenticated %}
                <div class="comments__actions">
                    <span onclick="toggleCommentReplyForm('reply-form-{{ comment.id }}')" class="button">
                        <a><i class="fa fa-comments"></i>Reply</a>
                    </span>
                </div>

                <form id="reply-form-{{ comment.id }}"
                      method="post" action="{% url 'add_reply' page.slug comment.id %}"
                      class="comment-form collapse">
                    {% csrf_token %}
                    {{ reply_form.as_p }}
                    <button class="btn btn-primary radius-0" type="submit" id="submit-contact">
                        <i class="fa fa-comment"></i> Submit Reply
                    </button>
                </form>
            {% else %}
                <p class="mt-8 text-gray-600">
                    Please <a href="{% url 'account_login' %}?next={{ request.path }}"
                    class="text-blue-500 hover:text-blue-700">log in</a> to leave a reply.</p>
            {% endif %}

            {% if comment.children.exists %}
                {% reply_level lvl as re_comment %}
                {%  include "blog/comments.html" with comments=comment.children comment_class=re_comment.0 lvl=re_comment.1 %}
                <!-- .comment-reply -->
            {% endif %}
        </div>
    </div><!-- .comment -->
{% endfor %}

<script>
    function toggleCommentReplyForm(formID) {
        var element = document.getElementById(formID);
        if (element) {
            element.classList.toggle('show');
        }
    }
</script>
