<div class="slider-container">
    <div class="row align-items-center slider-width">
        <div class="col-lg-7">
            <div class="fbt-shape-container">
                <div class="fbt-item-thumbnail radius-10">
                    <img alt="" class="post-thumbnail lazyloaded"
                         data-src="./images/single-1.jpg"
                         src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
                </div>
            </div>
        </div>
        <div class="col-lg-5 mt-4 mt-lg-0">
            <div class="fbt-shape-title pl-xl-5 pl-lg-4">
                <h1 class="post-title display-4">
                    Vestibulum maximus ipsum lacus, tempus suscipit augue.
                </h1>
                <div class="item-post-meta mt-4">
                    <div class="post-meta">
                        <span class="post-author"><a href="#" target="_blank" title="fbtemplates">fbtemplates</a></span>
                        <span class="post-date published">March 28, 2017</span>
                    </div>
                </div>
                <div class="mt-4">
                    <div class="sharepost clearfix">
                        <div class="post-share clearfix">
                            <ul>
                                <li><a class="facebook fbt-share" href="#" rel="nofollow" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="twitter fbt-share" href="#" rel="nofollow" target="_blank"><i class="fa fa-twitter"></i></a> </li>
                                <li><a class="linkedin fbt-linkedin" href="#" rel="nofollow" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                <li><a class="pinterest fbt-pinterest" href="#" target="_blank"><i class="fa fa-pinterest-p"></i></a></li>
                                <li><a class="email fbt-email" href="#" rel="nofollow"><i class="fa fa-envelope-o"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- .slider-container end-->