{% extends "base.html" %}
{% load static %}

{% block title %}{{ block.super }}{% endblock %}
{% block title_suffix %}{{ block.super }}{% endblock %}

{% block extra_css %}
    <link href="https://fonts.googleapis.com/css?family=Montserrat:900%7CNunito:400,700%7COswald%7CRoboto" rel="stylesheet">
    <link href="{% static 'nemesis/css/animate.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'nemesis/css/fonts.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'nemesis/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'nemesis/css/style.css' %}" rel="stylesheet" media="screen">
{% endblock %}


{% block body_class %}{% endblock %}

{% block body %}
    <div id="fbt-content-overlay" onclick="closeNav()"></div>
    <form autocomplete="off" id="search" role="search">
        <div class="input">
            <input class="search" name="search" placeholder="Search..." type="text" />
            <button class="submit fa fa-search" type="submit" value=""></button>
        </div>
        <button id="close" type="reset" value="">×</button>
    </form><!-- #search -->
    {% block wrapper %}
        <div id="page-wrapper" class="{% block wrapper_class %}feed-view{% endblock %}">
        <nav class="navbar navbar-expand-xl navbar-fbt fbt-nav-skin fbt_sticky_nav">
            <div class="container nav-mobile-px clearfix">
                <div class="navbar-brand order-2 order-xl-1 m-auto">
                    <a href="/"><img alt="Nemesis" src="./images/logo_nemesis.png"></a>
                </div>
                {% block nav %}{% include 'nemesis/nav.html' %}{% endblock %}
            </div>
        </nav><!-- .navbar end-->
        <div class="slider-container">
            {% block slider %}{%  include 'nemesis/slider.html' %}{% endblock %}
        </div><!-- .slider-container end-->
            {% block outer %}
                <div class="outer-wrapper clearfix" id="outer-wrapper">
                    <div class="container fbt-elastic-container">
                        <div class="row justify-content-center">
                            <!-- Main Wrapper -->
                            <div class="fbt-main-wrapper col-xl-12">
                                <div id="main-wrapper">
                                    <div class="main-section" id="main_content">
                                        {% block content %}
                                            {% include 'nemesis/content.html' %}
                                        {% endblock %}
                                    </div>
                                </div><!-- #main-wrapper -->
                            </div><!-- .fbt-main-wrapper -->
                        {% block sidebar %}{% include 'nemesis/sidebar.html' %}{% endblock %}
                        </div>
                    </div>
                </div>
            {% endblock %}
            {% block bottom %}
                {% include 'nemesis/subscriber.html' %}
                {% include 'nemesis/shaper.html' %}
            {% endblock %}
            {% block footer %}{% include 'nemesis/footer.html' %}{% endblock %}
        </div><!-- #page-wrapper -->
    {% endblock %}
{% endblock %}


{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/config.js' %}"></script>
    <script src="{% static 'nemesis/js/jquery.min.js' %}"></script>
    <script src="{% static 'nemesis/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'nemesis/js/plugins.js' %}"></script>
    <script src="{% static 'nemesis/js/main.js' %}"></script>
{% endblock %}

