<div class="fbt-bottom-section clearfix" id="fbt_bottom_section">

    <div class="widget FollowByEmail" >
        <div class="widget-content">
            <div class="container">
                <div class="row justify-content-center">

                    <div class="follow-by-email-inner subscriber-form col-lg-10">
                        <div class="card radius-10 p-5">
                            <div class="row justify-content-center align-items-center py-3">
                                <div class="col-lg-3">
                                    <h2 class="title h1 mb-4 mb-lg-0 text-center text-lg-left">
                                        Subscribe to our Newsletter
                                    </h2>
                                </div>
                                <div class="col-lg-8 pl-lg-4">
                                    <form action="#" class="fbt-email-form" method="post" >
                                        <input autocomplete="off" class="follow-by-email-address" name="email" placeholder="Enter your Email" type="email">
                                        <input class="follow-by-email-submit" type="submit" value="Subscribe">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div><!-- .FollowByEmail -->

</div><!-- #fbt_bottom_section -->