

            <div class="blog-post fbt-index-post card radius-10">
                <div class="fbt-post-thumbnail">
                    <a href="./single.html">
                        <img alt="" class="post-thumbnail lazyloaded" data-src="./images/img-2.jpg"
                             src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
                    </a>
                </div>
                <div class="fbt-post-caption card-body">
                    <h3 class="post-title h4 card-title">
                        <a href="./single.html">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </a>
                    </h3>
                    <div class="post-meta">
                        <span class="post-author"><a href="#">fbtemplates</a></span>
                        <span class="post-date published">June 19, 2019</span>
                    </div>
                    <p class="post-excerpt card-text">
                        Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Donec facilisis leo et bibendum
                        pretium. Suspendisse li…
                    </p>
                </div>
            </div>

            <div class="blog-post hentry fbt-index-post card radius-10">
                <div class="fbt-post-thumbnail">
                    <a href="./single.html">
                        <img alt="" class="post-thumbnail lazyloaded" data-src="./images/img-3.jpg"
                             src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
                    </a>
                </div>
                <div class="fbt-post-caption card-body">
                    <h3 class="post-title h4 card-title">
                        <a href="./single.html">
                            Nunc tellus libero, tempus id luctus eget, fermentum.
                        </a>
                    </h3>
                    <div class="post-meta">
                        <span class="post-author"><a href="#">fbtemplates</a></span>
                        <span class="post-date published">June 05, 2019</span>
                    </div>
                    <p class="post-excerpt card-text">
                        Donec dolor elit, pellentesque a massa
                        pellentesque, euismod sagittis ipsum. Nullam a diam ac turpis
                        iaculis vu…
                    </p>
                </div>
            </div>

            <div class="blog-post hentry fbt-index-post card radius-10">
                <div class="fbt-post-thumbnail">
                    <a href="./video_post.html">
                        <img alt="" class="post-thumbnail lazyloaded"  data-src="./images/img-4.jpg"
                             src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
                    </a>
                    <span class="video-icon"><i class="fa fa-play"></i></span>
                </div>
                <div class="fbt-post-caption card-body">
                    <h3 class="post-title h4 card-title">
                        <a href="./video_post.html">
                            The
                            future of news blogger themes. Custom post carousel.
                        </a>
                    </h3>
                    <div class="post-meta">
                        <span class="post-author"><a href="#">fbtemplates</a></span>
                        <span class="post-date published">September 13, 2018</span>
                    </div>
                    <p class="post-excerpt card-text">
                        Fames dictumst massa massa, qui sapien
                        per, mauris id sed cubilia suspendisse neque. Proin natoque
                        consectetuer…
                    </p>
                </div>
            </div>

            <div class="blog-post hentry fbt-index-post card radius-10">
                <div class="fbt-post-thumbnail">
                    <a href="./single.html">
                        <img alt="" class="post-thumbnail lazyloaded"  data-src="./images/img-5.jpg"
                             src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
                    </a>
                </div>
                <div class="fbt-post-caption card-body">
                    <h3 class="post-title h4 card-title">
                        <a href="./single.html">
                            Lorem ipsum dolor sit amet. Custom Post Gallery.
                        </a>
                    </h3>
                    <div class="post-meta">
                        <span class="post-author"><a href="#">fbtemplates</a></span>
                        <span class="post-date published">May 26, 2018</span>
                    </div>
                    <p class="post-excerpt card-text">
                        Phasellus deserunt. Convallis
                        perspiciatis fusce fermentum accumsan, arcu aliquam, velit venenatis
                        augue proin,…
                    </p>
                </div>
            </div>

            <div class="blog-post hentry fbt-index-post card radius-10">
                <div class="fbt-post-thumbnail">
                    <a href="./single.html">
                        <img alt="" class="post-thumbnail lazyloaded"  data-src="./images/img-6.jpg"
                             src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
                    </a>
                </div>
                <div class="fbt-post-caption card-body">
                    <h3 class="post-title h4 card-title">
                        <a href="./single.html">
                            Lorem ipsum sit amet, consectetur adipiscing elit.
                        </a>
                    </h3>
                    <div class="post-meta">
                        <span class="post-author"><a href="#">fbtemplates</a></span>
                        <span class="post-date published">April 02, 2017</span>
                    </div>
                    <p class="post-excerpt card-text">
                        Phasellus deserunt. Convallis
                        perspiciatis fusce fermentum accumsan, arcu aliquam, velit venenatis
                        augue proin,…
                    </p>
                </div>
            </div>

            <div class="blog-post hentry fbt-index-post card radius-10">
                <div class="fbt-post-thumbnail">
                    <a href="./single.html">
                        <img alt="" class="post-thumbnail lazyloaded"  data-src="./images/img-7.jpg"
                             src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
                    </a>
                </div>
                <div class="fbt-post-caption card-body">
                    <h3 class="post-title h4 card-title">
                        <a href="./single.html">
                            Nunc accumsan ex ligula, in sapien consectetur.
                        </a>
                    </h3>
                    <div class="post-meta">
                        <span class="post-author"><a href="#">fbtemplates</a></span>
                        <span class="post-date published">March 31, 2017</span>
                    </div>
                    <p class="post-excerpt card-text">
                        Donec dolor elit, pellentesque a massa
                        pellentesque, euismod sagittis ipsum. Nullam a diam ac turpis
                        iaculis vu…
                    </p>
                </div>
            </div>

            <div class="blog-post hentry fbt-index-post card radius-10">
                <div class="fbt-post-thumbnail">
                    <a href="./single.html">
                        <img alt="" class="post-thumbnail lazyloaded"  data-src="./images/img-8.jpg"
                             src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
                    </a>
                </div>
                <div class="fbt-post-caption card-body">
                    <h3 class="post-title h4 card-title">
                        <a href="./single.html">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </a>
                    </h3>
                    <div class="post-meta">
                        <span class="post-author"><a href="#">fbtemplates</a></span>
                        <span class="post-date published">March 30, 2017</span>
                    </div>
                    <p class="post-excerpt card-text">
                        Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Ut porttitor leo vel nulla posuere
                        accumsan. Suspendis…
                    </p>
                </div>
            </div>

            <div class="blog-post hentry fbt-index-post card radius-10">
                <div class="fbt-post-thumbnail">
                    <a href="./single.html">
                        <img alt="" class="post-thumbnail lazyloaded"  data-src="./images/img-9.jpg"
                             src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
                    </a>
                </div>
                <div class="fbt-post-caption card-body">
                    <h3 class="post-title h4 card-title">
                        <a href="./single.html">
                            Suspendisse posuere mi lacus, leo gravida eu.
                        </a>
                    </h3>
                    <div class="post-meta">
                        <span class="post-author"><a href="#">fbtemplates</a></span>
                        <span class="post-date published">March 28, 2017</span>
                    </div>
                    <p class="post-excerpt card-text">
                        Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Ut porttitor leo vel nulla posuere
                        accumsan. Suspendis…
                    </p>
                </div>
            </div>

            <div class="blog-post hentry fbt-index-post card radius-10">
                <div class="fbt-post-thumbnail">
                    <a href="./single.html">
                        <img alt="" class="post-thumbnail lazyloaded"  data-src="./images/img-10.jpg"
                             src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
                    </a>
                </div>
                <div class="fbt-post-caption card-body">
                    <h3 class="post-title h4 card-title">
                        <a href="./single.html">
                            Duis tempor purus rutrum, tincidunt lacus.
                        </a>
                    </h3>
                    <div class="post-meta">
                        <span class="post-author"><a href="#">fbtemplates</a></span>
                        <span class="post-date published">March 28, 2017</span>
                    </div>
                    <p class="post-excerpt card-text">
                        Donec dolor elit, pellentesque a massa
                        pellentesque, euismod sagittis ipsum. Nullam a diam ac turpis
                        iaculis vu…
                    </p>
                </div>
            </div>

            <div class="blog-post hentry fbt-index-post card radius-10">
                <div class="fbt-post-thumbnail">
                    <a href="./single.html">
                        <img alt="" class="post-thumbnail lazyloaded"  data-src="./images/img-11.jpg"
                             src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
                    </a>
                </div>
                <div class="fbt-post-caption card-body">
                    <h3 class="post-title h4 card-title">
                        <a href="./single.html">
                            Vestibulum maximus ipsum lacus, tempus suscipit augue.
                        </a>
                    </h3>
                    <div class="post-meta">
                        <span class="post-author"><a href="#">fbtemplates</a></span>
                        <span class="post-date published">March 28, 2017</span>
                    </div>
                    <p class="post-excerpt card-text">
                        Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Ut porttitor leo vel nulla posuere
                        accumsan. Suspendis…
                    </p>
                </div>
            </div>

            <div class="blog-post hentry fbt-index-post card radius-10">
                <div class="fbt-post-thumbnail">
                    <a href="./single.html">
                        <img alt="" class="post-thumbnail lazyloaded"  data-src="./images/img-12.jpg"
                             src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
                    </a>
                </div>
                <div class="fbt-post-caption card-body">
                    <h3 class="post-title h4 card-title">
                        <a href="./single.html">
                            Etenim semper illud extra est, quod arte comprehenditur.
                        </a>
                    </h3>
                    <div class="post-meta">
                        <span class="post-author"><a href="#">fbtemplates</a></span>
                        <span class="post-date published">March 28, 2017</span>
                    </div>
                    <p class="post-excerpt card-text">
                        Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Cum id quoque, ut cupiebat, audivisset,
                        evelli iussit …
                    </p>
                </div>
            </div>

            <div class="blog-post hentry fbt-index-post card radius-10">
                <div class="fbt-post-thumbnail">
                    <a href="./single.html">
                        <img alt="" class="post-thumbnail lazyloaded"  data-src="./images/img-13.jpg"
                             src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
                    </a>
                </div>
                <div class="fbt-post-caption card-body">
                    <h3 class="post-title h4 card-title">
                        <a href="./single.html">
                            Morbi lobortis ultricies urna, neque aliquam sit amet.
                        </a>
                    </h3>
                    <div class="post-meta">
                        <span class="post-author"><a href="#">fbtemplates</a></span>
                        <span class="post-date published">March 28, 2017</span>
                    </div>
                    <p class="post-excerpt card-text">
                        Maecenas luctus arcu porta accumsan
                        viverra. Sed odio eros, dictum non augue et, tincidunt ullamcorper
                        ex. Sed …
                    </p>
                </div>
            </div>

            <div class="blog-post hentry fbt-index-post card radius-10">
                <div class="fbt-post-thumbnail">
                    <a href="./video_post.html">
                        <img alt="" class="post-thumbnail lazyloaded"  data-src="./images/img-14.jpg"
                             src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
                    </a>
                    <span class="video-icon"><i class="fa fa-play"></i></span>
                </div>
                <div class="fbt-post-caption card-body">
                    <h3 class="post-title h4 card-title">
                        <a href="./video_post.html">
                            Sed odio eros, dictum non augue et, tincidunt.
                        </a>
                    </h3>
                    <div class="post-meta">
                        <span class="post-author"><a href="#">fbtemplates</a></span>
                        <span class="post-date published">March 28, 2017</span>
                    </div>
                    <p class="post-excerpt card-text">
                        Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Donec facilisis leo et bibendum
                        pretium. Suspendisse l…
                    </p>
                </div>
            </div>

            <div class="blog-post hentry fbt-index-post card radius-10">
                <div class="fbt-post-thumbnail">
                    <a href="./single.html">
                        <img alt="" class="post-thumbnail lazyloaded"  data-src="./images/img-15.jpg"
                             src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
                    </a>
                </div>
                <div class="fbt-post-caption card-body">
                    <h3 class="post-title h4 card-title">
                        <a href="./single.html">
                            Suspendisse sed tortor eget justo aliquam euismod.
                        </a>
                    </h3>
                    <div class="post-meta">
                        <span class="post-author"><a href="#">fbtemplates</a></span>
                        <span class="post-date published">March 28, 2017</span>
                    </div>
                    <p class="post-excerpt card-text">
                        Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Ut porttitor leo vel nulla posuere
                        accumsan. Suspendis…
                    </p>
                </div>
            </div>

            <div class="blog-post fbt-index-post card radius-10">
                <div class="fbt-post-thumbnail">
                    <a href="./single.html">
                        <img alt="" class="post-thumbnail lazyloaded"  data-src="./images/img-16.jpg"
                             src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
                    </a>
                </div>
                <div class="fbt-post-caption card-body">
                    <h3 class="post-title h4 card-title">
                        <a href="./single.html">
                            Nunc accumsan ex ligula, in malesuada sapien consectetur.
                        </a>
                    </h3>
                    <div class="post-meta">
                        <span class="post-author"><a href="#">fbtemplates</a></span>
                        <span class="post-date published">March 28, 2017</span>
                    </div>
                    <p class="post-excerpt card-text">
                        Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Donec facilisis leo et bibendum
                        pretium. Suspendisse l…
                    </p>
                </div>
            </div>

