{% load static wagtailcore_tags wagtailimages_tags %}
{% wagtail_site as current_site %}
<div class="footer-dark pt-4" id="footer-content">
    <div class="container pb-4">
        <div class="row clearfix">
            <div class="col-lg-4">
                <div class="footer-1" id="footer-1">
                    <div class="logoImage">
                        <div class="widget-content">
                            {% image settings.core.BrandSettings.logo max-37x38 %}
                        </div>
                    </div>
                    <div class="widget Text">
                        <div class="widget-content">
                            <p>
                                Phasellus deserunt. Convallis perspiciatis fusce fermentum accumsan, arcu
                                aliquam, velit venenatis augue proin, enim etiam dolor.
                                Mi ac lectus vitae cum, fusce purus posuere.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 ml-lg-auto">
                <div class="footer-2 section" id="footer-2">
                    <div class="widget">
                        <h4 class="title title-heading">
                            About
                        </h4>
                        <div class="widget-content list-label-widget-content">
                            <ul class="list-unstyled">
                                <li><a class="label-name" href="#">Home</a></li>
                                <li><a class="label-name" href="#">Lifestyle</a></li>
                                <li><a class="label-name" href="#"> People</a></li>
                                <li><a class="label-name" href="#">Slider</a></li>
                                <li><a class="label-name" href="#">Sport</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="footer-3 section" id="footer-3">
                    <div class="widget">
                        <h4 class="title title-heading">
                            Categories
                        </h4>
                        <div class="widget-content list-label-widget-content">
                            <ul class="list-unstyled">
                                <li><a class="label-name" href="#">Business</a></li>
                                <li><a class="label-name" href="#">Design</a></li>
                                <li><a class="label-name" href="#">Lifestyle</a></li>
                                <li><a class="label-name" href="#">Technology</a></li>
                                <li><a class="label-name" href="#">Training</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 last">
                <div class="footer-4 section" id="footer-4">
                    <div class="widget">
                        <h4 class="title title-heading">
                            Account
                        </h4>
                        <div class="widget-content list-label-widget-content">
                            <ul class="list-unstyled">
                                <li><a class="label-name" href="#">Business</a></li>
                                <li><a class="label-name" href="#">Design</a></li>
                                <li><a class="label-name" href="#">Entertainment</a></li>
                                <li><a class="label-name" href="#">Featured</a></li>
                                <li><a class="label-name" href="#">Technology</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="credits">
        <div class="container">
            <div class="row divider py-4">
                <div class="col-lg-6">
                    <div class="copyright-section text-center text-lg-left">
                        <!-- © <script>document.write(new Date().getFullYear());</script> -->
                        &copy; {% now "Y" %} {{ current_site.site_name }} | All Rights Reserved
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="footer-menu section" id="footer-menu">
                        <div class="widget socialList">
                            <div class="widget-content">
                                <ul class="nav">
                                    {% if settings.core.SocialMediaLinks.facebook %}
                                    <li class="nav-item">
                                        <a class="nav-link" target="_blank"
                                           href="{{ settings.core.SocialMediaLinks.facebook }}">
                                            <i class="fa fa-facebook"></i></a>
                                    </li>
                                    {% endif %}
                                    {% if settings.core.SocialMediaLinks.x %}
                                    <li class="nav-item">
                                        <a class="nav-link" target="_blank"
                                           href="{{ settings.core.SocialMediaLinks.x }}">
                                            <i class="fa fa-twitter"></i></a>
                                    </li>
                                    {% endif %}
                                    {% if settings.core.SocialMediaLinks.instagram %}
                                    <li class="nav-item">
                                        <a class="nav-link" target="_blank"
                                           href="{{ settings.core.SocialMediaLinks.instagram }}">
                                            <i class="fa fa-instagram"></i></a>
                                    </li>
                                    {% endif %}
                                    {% if settings.core.SocialMediaLinks.linkedIn %}
                                    <li class="nav-item">
                                        <a class="nav-link" target="_blank"
                                           href="{{ settings.core.SocialMediaLinks.linkedIn }}">
                                            <i class="fa fa-linkedin"></i></a>
                                    </li>
                                    {% endif %}
                                    {% if settings.core.SocialMediaLinks.youtube %}
                                    <li class="nav-item">
                                        <a class="nav-link" target="_blank"
                                           href="{{ settings.core.SocialMediaLinks.youtube }}">
                                            <i class="fa fa-youtube-play"></i></a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- #footer-content -->