<!-- Sidebar Wrapper -->
<div class="sidebar-wrapper" id="sidebar-wrapper">
    <div class="sidebar-wrapper__content">
        <div class="navigation-container clearfix">
            <span class="closebtn" onclick="closeNav()">×</span>
        </div>
        <div class="sidebar-top section" id="menu_sidebar">
            <div class="widget LinkList">
                <div class="widget-content fbt-sidebar--menu">
                    <ul class="list-group">
                        <li class="list-group-item"><a href="/">HOME</a></li>
                        <li class="list-group-item"><a href="#">ABOUT</a></li>
                        <li class="list-group-item"><a href="#">SERVICES</a></li>
                        <li class="list-group-item"><a href="#">CONTACT</a></li>
                        <li class="list-group-item"><a href="#">PRIVACY</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="sidebar section" id="main_sidebar">
            <div class="widget Label">

                <div class="fbt-sep-title">
                    <h4 class="title title-heading-left">Categories</h4>
                    <div class="title-sep-container">
                        <div class="title-sep sep-double"></div>
                    </div>
                </div>

                <div class="widget-content cloud-label--widget-content">
                    <a href="#"><span class="badge badge-success py-1 px-2 mb-1">Business</span></a>
                    <a href="#"><span class="badge badge-success py-1 px-2 mb-1">Carousel</span></a>
                    <a href="#"><span class="badge badge-success py-1 px-2 mb-1">Design</span></a>
                    <a href="#"><span class="badge badge-success py-1 px-2 mb-1">Entertainment</span></a>
                    <a href="#"><span class="badge badge-success py-1 px-2 mb-1">Featured</span></a>
                    <a href="#"><span class="badge badge-success py-1 px-2 mb-1">Friends</span></a>
                    <a href="#"><span class="badge badge-success py-1 px-2 mb-1">Home</span></a>
                    <a href="#"><span class="badge badge-success py-1 px-2 mb-1">Lifestyle</span></a>
                    <a href="#"><span class="badge badge-success py-1 px-2 mb-1">People</span></a>
                    <a href="#"><span class="badge badge-success py-1 px-2 mb-1">Slider</span></a>
                    <a href="#"><span class="badge badge-success py-1 px-2 mb-1">Sport</span></a>
                    <a href="#"><span class="badge badge-success py-1 px-2 mb-1">Technology</span></a>
                    <a href="#"><span class="badge badge-success py-1 px-2 mb-1">Training</span></a>
                </div>
            </div>

            <div class="widget BlogArchive">

                <div class="fbt-sep-title">
                    <h4 class="title title-heading-left">Archive</h4>
                    <div class="title-sep-container">
                        <div class="title-sep sep-double"></div>
                    </div>
                </div>

                <div class="widget-content">
                    <div id="ArchiveList">
                        <div id="BlogArchive1_ArchiveList">
                            <ul class="flat list-unstyled">
                                <li class="archivedate">
                                    <a href="#">June<span class="post-count float-right badge badge-primary">2</span></a>
                                </li>
                                <li class="archivedate">
                                    <a href="#">September<span class="post-count float-right badge badge-primary">1</span></a>
                                </li>
                                <li class="archivedate">
                                    <a href="#">May<span class="post-count float-right badge badge-primary">1</span></a>
                                </li>
                                <li class="archivedate">
                                    <a href="#">April<span class="post-count float-right badge badge-primary">1</span></a>
                                </li>
                                <li class="archivedate">
                                    <a href="#">March<span class="post-count float-right badge badge-primary">26</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div><!-- #sidebar-wrapper -->