{#{% extends "blog/base.html" %}#}
{% extends "nemesis/base.html" %}
{% load i18n socialaccount %}

{% block content %}
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col">
        <h1 class="text-2xl font-bold mb-6">{% trans "Sign Up" %}</h1>

        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">{% trans "Sign Up" %}</button>
        </form>

        <p class="mt-4">
            {% blocktrans %}Already have an account? Then please <a class="text-blue-500 hover:text-blue-700" href="{{ login_url }}">sign in</a>.{% endblocktrans %}
        </p>

        <p>Or</p>
        <a href="{% provider_login_url 'google' %}">Sign up with Google</a>
    
    </div>
{% endblock %}