<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nemesis | Minimal Blog HTML Template</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:900%7CNunito:400,700%7COswald%7CRoboto" rel="stylesheet">
    <link href="./nemesis/css/animate.min.css" rel="stylesheet" media="screen">
    <link href="/config/static/nemesis/css/fonts.css" rel="stylesheet" media="screen">
    <link href="/config/static/nemesis/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/config/static/nemesis/css/style.css" rel="stylesheet" media="screen">
</head>

<body>

<div id="fbt-content-overlay" onclick="closeNav()"></div>
<form autocomplete="off" id="search" role="search">
    <div class="input">
        <input class="search" name="search" placeholder="Search..." type="text" />
        <button class="submit fa fa-search" type="submit" value=""></button>
    </div>
    <button id="close" type="reset" value="">×</button>
</form><!-- #search -->

<div id="page-wrapper" class="error-view">

    <nav class="navbar navbar-expand-xl navbar-fbt fbt-nav-skin fbt_sticky_nav">
        <div class="container nav-mobile-px clearfix">
            <div class="navbar-brand order-2 order-xl-1 m-auto">
                <a href="/"><img alt="Nemesis" src="./images/logo_nemesis.png"></a>
            </div>
            <button aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler order-1 order-xl-2"
                    data-target="#navbar-menu" data-toggle="collapse" type="button">☰</button>
            <div class="header-buttons order-3 order-lg-4">
                <span class="fa fa-search navbar-search search-trigger"></span>
            </div>
            <div class="collapse navbar-collapse order-4 order-xl-3 clearfix" id="navbar-menu">
                <ul class="navbar-nav m-auto clearfix">
                    <li class="nav-item dropdown">
                        <a href="/" class="nav-link dropdown-toggle" aria-haspopup="true"
                           aria-expanded="false" data-toggle="dropdown">Home</a>
                        <!--div class="dropdown-menu">
                            <a href="./index.html" class="dropdown-item">Home 1</a>
                            <a href="./index-2.html" class="dropdown-item">Home 2</a>
                            <a href="./index-3.html" class="dropdown-item">Home 3</a>
                            <a href="./index-4.html" class="dropdown-item">Home 4</a>
                            <a href="./index-5.html" class="dropdown-item">Home 5</a>
                            <a href="./blog.html" class="dropdown-item">Home 6</a>
                        </div-->
                    </li>
                    <!--li class="nav-item">
                        <a href="./contact.html" class="nav-link">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Sport</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Policy</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" aria-haspopup="true" aria-expanded="false"
                           data-toggle="dropdown">Features</a>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">Feature 1</a>
                            <a href="#" class="dropdown-item">Feature 2</a>
                            <a href="#" class="dropdown-item">Feature 3</a>
                            <a href="#" class="dropdown-item">Feature 5</a>
                            <a href="#" class="dropdown-item">Feature 6</a>
                            <a href="#" class="dropdown-item">Feature 7</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="./error.html" class="nav-link">Error Page</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Lifestyle</a>
                    </li-->
                </ul>
            </div>
        </div>
    </nav><!-- .navbar end-->

    <div class="outer-wrapper clearfix" id="outer-wrapper">
        <div class="container fbt-elastic-container">
            <div class="row justify-content-center">

                <div class="fbt-main-wrapper col-xl-12">

                    <div id="main-wrapper">
                        <div class="main-section" id="main_content">

                            <div class="row justify-content-center">
                                <div class="col-lg-9 ">
                                    <div class="errorWrap card radius-10 shadow-lg p-5 mt-5 text-center">
                                        <h1 class="display-4">
                                            Oooooh!!! <span class="text-primary">Error 404!!!</span>
                                        </h1>
                                        <h3 class="h2 mt-3 mb-4">
                                            Sorry! The page you were looking for, could not be found...
                                        </h3>
                                        <a href="/"><span class="btn btn-outline-dark radius-25 px-4">Go To Homepage</span></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- #main-wrapper -->

                </div><!-- .fbt-main-wrapper -->

            </div>
        </div>
    </div>

</div><!-- #page-wrapper end -->

<script src="/config/static/nemesis/js/jquery.min.js"></script>
<script src="/config/static/nemesis/js/bootstrap.bundle.min.js"></script>
<script src="/config/static/nemesis/js/plugins.js"></script>
<script src="/config/static/nemesis/js/main.js"></script>
</body>

</html>